<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1QhZ6IpiMDVf9Gf6G2cpNwyi5b8CO0Ms</string>
	<key>GCM_SENDER_ID</key>
	<string>91057957585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cocktails</string>
	<key>PROJECT_ID</key>
	<string>drinks-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>drinks-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91057957585:ios:dfc85819a3a4c0fd9033f0</string>
</dict>
</plist>